@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--cinza-claro);
}

body {
    font-family: var(--fonte-principal);
    font-weight: 400;
    background-color: var(--cor-branca);
}

.section {
    padding: 0 7rem;
}

.section-title{
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-gigante);
    padding: 7rem;
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.grid {
    display: grid;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.justificar-no-centro {
    justify-content: center;
}

.alinhar-no-centro {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.in-out-shadow {
    box-shadow: inset 3px 3px 3px #403f41, inset -3px -3px 3px #403f41, 3px 3px 3px #1b1a1b;
}

.outer-shadow {
    box-shadow: 3px 3px 3px #222327, -3px -3px 3px #454545;
}

.white-shadow-home {
    box-shadow: inset 3px 3px 3px #aca8ad, 3px 3px 3px #454545;
}